.container {
  // border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  .img_style {
    width: 50px;
    height: 50px;
    animation: bubble 7s linear infinite;
    &:nth-child(1) {
      animation-delay: 2s;
      width: 15px;
    }
    &:nth-child(2) {
      animation-delay: 5s;
      width: 45px;
    }
    &:nth-child(3) {
      animation-delay: 7.5s;
    }
    &:nth-child(4) {
      animation-delay: 10s;
      width: 35px;
    }
    &:nth-child(5) {
      animation-delay: 8s;
    }
    &:nth-child(6) {
      animation-delay: 12s;
      width: 40px;
    }
    &:nth-child(7) {
      animation-delay: 15s;
    }
    &:nth-child(8) {
      animation-delay: 14s;
    }
    &:nth-child(9) {
      animation-delay: 11s;
    }
    &:nth-child(10) {
      animation-delay: 17s;
    }
  }
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-2000px);
    opacity: 0;
  }
}
